.header-strip{
    display: flex;
    flex-wrap: nowrap;
}


.header-strip p{
    /*This aligns up and down*/
    align-self: center;
}


section{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.form-heading {
    font-size: 30px;
}